<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css">
    <title>Blog | Agencia DevHouse</title>
  </head>
  <body>
      <header>
        <h1>DH NEWS</h1>
        <h5>Postado em 02/03/2021</h5>
      </header>
      <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        laboriosam cupiditate maxime facere possimus qui consequatur quas,
        <b>aliquam excepturi</b> architecto officiis in, quidem asperiores
        assumenda labore dolorem sit ullam sunt.
        <img src="/public/img/destaque.webp" alt="Sala Digital House" />
        <br />
        <h4>
          <strong
            >ipsum dolor sit, amet consectetur adipisicing elit. Eaque
            consequatur, cumque</strong
          >
        </h4>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
          distinctio fuga, nulla delectus, velit eveniet cum qui vel id est
          soluta, voluptas totam. Quod praesentium velit aut, facere delectus
          ratione.
        </p>
        <br />
        <ol>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolore
            eum repudiandae eos, corrupti blanditiis dicta? Sit vitae explicabo
            dolorem distinctio, eum necessitatibus qui ea temporibus fuga,
            expedita perspiciatis placeat.
          </li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
            consequatur obcaecati ipsa sed tempora. Eum, non voluptas
            exercitationem omnis ipsa earum nulla laboriosam! Error amet in vero
            magni vel non.
          </li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui
            doloremque architecto vitae aperiam asperiores itaque reiciendis
            dolor quod, assumenda quaerat ea hic ut dolore numquam explicabo
            delectus repellendus repellat totam?
          </li>
        </ol>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
          provident ipsa ipsum inventore suscipit, voluptates aperiam, dolores
          nemo doloribus eveniet ex eius tempore? Quas facilis quam corrupti
          repellendus ducimus nostrum?
        </p>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, aliquam. Enim libero adipisci, culpa laboriosam natus eos necessitatibus sapiente laudantium dolores nesciunt debitis labore aliquid temporibus repellendus est facilis expedita.</h4>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio facere consequatur placeat aperiam id numquam quasi minima reprehenderit, inventore optio! Sequi aut vero facilis ut distinctio atque modi reprehenderit! Omnis!
        Lorem, ipsum dolor sit amet <b>consectetur adipisicing</b> elit. Quia quasi mollitia corporis. Neque asperiores quia laboriosam repellat perferendis blanditiis, alias vero voluptatibus possimus? Debitis quos quasi et pariatur dolores. Voluptatum.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eius error incidunt magni culpa ut facilis voluptas sed soluta. Eos quis enim explicabo deserunt amet saepe porro dolore dolor.</p>
      </main>
      <footer>
        <ul>
          <li><a target="_blank" href="www.facebook.com"><img class="icon-social" src="/icon/facebook.svg" alt="Facebook"></a></li>
          <li><a href="www.instagram.com"><img class="icon-social" src="/icon/instagram.svg" alt="Instagram"></a></li>
          <li><a href="www.linkedin.com"><img  class="icon-social" src="/icon/linkedin.svg" alt="Linkedin"></a></li>
          <li><a href="www.youtube.com"><img  class="icon-social" src="/icon/youtube.svg" alt="Youtube"></a></li>
        </ul>
      </footer>
    </main>
  </body>
</html>
